IOExceptionSolution/FIDECINEWeb/Service References/CarteleraServiceReference/CarteleraService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FIDECINEService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FIDECINEService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCarteleraBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarteleraBE" nillable="true" type="tns:CarteleraBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarteleraBE" nillable="true" type="tns:ArrayOfCarteleraBE" />
  <xs:complexType name="CarteleraBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaHora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCartelera" type="xs:int" />
      <xs:element minOccurs="0" name="IdPelicula" type="xs:int" />
      <xs:element minOccurs="0" name="IdSala" type="xs:int" />
      <xs:element minOccurs="0" name="PeliculaNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalaNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarteleraBE" nillable="true" type="tns:CarteleraBE" />
</xs:schema>