IOExceptionSolution/FIDECINEWeb/Service References/ProductoServiceReference/ProductoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FIDECINEService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FIDECINEService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductoBE" nillable="true" type="tns:ProductoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductoBE" nillable="true" type="tns:ArrayOfProductoBE" />
  <xs:complexType name="ProductoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoBE" nillable="true" type="tns:ProductoBE" />
</xs:schema>