IOExceptionSolution/FIDECINEWeb/Service References/SalaServiceReference/SalaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FIDECINEService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FIDECINEService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSalaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalaBE" nillable="true" type="tns:SalaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalaBE" nillable="true" type="tns:ArrayOfSalaBE" />
  <xs:complexType name="SalaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSala" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalaBE" nillable="true" type="tns:SalaBE" />
</xs:schema>