trunk/IOExceptionSolution/FIDECINEWeb/Service References/PeliculaServiceReference/PeliculaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12139/Service/PeliculaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FIDECINEService.Dominio" />
  <xs:element name="listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str_pNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="str_pEstado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FIDECINEService.Dominio" minOccurs="0" name="listarResult" nillable="true" type="q1:ArrayOfPeliculaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarPelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FIDECINEService.Dominio" minOccurs="0" name="entidad" nillable="true" type="q2:PeliculaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FIDECINEService.Dominio" minOccurs="0" name="InsertarPeliculaResult" nillable="true" type="q3:PeliculaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPelicula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FIDECINEService.Dominio" minOccurs="0" name="ObtenerPeliculaResult" nillable="true" type="q4:PeliculaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FIDECINEService.Dominio" minOccurs="0" name="objClienteBE" nillable="true" type="q5:ClienteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FIDECINEService.Dominio" minOccurs="0" name="ModificarPeliculaResult" nillable="true" type="q6:PeliculaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPelicula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPeliculaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPeliculas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCategoria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idGenero" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPeliculasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FIDECINEService.Dominio" minOccurs="0" name="ListarPeliculasResult" nillable="true" type="q7:ArrayOfPeliculaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarGeneroPelicula">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarGeneroPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FIDECINEService.Dominio" minOccurs="0" name="ListarGeneroPeliculaResult" nillable="true" type="q8:ArrayOfPeliculaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoPelicula">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FIDECINEService.Dominio" minOccurs="0" name="ListarTipoPeliculaResult" nillable="true" type="q9:ArrayOfPeliculaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCategoriaPelicula">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCategoriaPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/FIDECINEService.Dominio" minOccurs="0" name="ListarCategoriaPeliculaResult" nillable="true" type="q10:ArrayOfPeliculaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>